@font-face {
    font-family: "Montserrat-Italic"; // Replace with the actual font name
    src: url("/fonts/Montserr   at-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

// Add more font faces for different styles if needed
