header {
    a {
        color: $white;
        text-decoration: none;
    }
    li {
        margin: 20px;
    }

    @media (min-width: 1400px) {
        position: absolute;
        background: linear-gradient(
            180deg,
            rgba(36, 30, 32, 0.5) 0%,
            rgba(36, 30, 32, 0.5) 24.48%,
            rgba(36, 30, 32, 0.331034) 53.12%,
            rgba(36, 30, 32, 0) 100%
        );
    }

    background-color: $black;

    .background-black {
        background-color: $black;
    }

    .bg-red {
        background-color: $red;
        padding: 0px 0px 0px 5px;
        width: 180px;
    }
    
    @media (min-width: 1400px) {
        .nav-background {
            height: 110px;
            background-color: $black;
            margin-bottom: 20px;
        }
    }
}
footer {
    margin-top: 50px;
    a {
        color: $white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    p {
        color: $white;
    }
    background-color: $black;
}
