header {
    a {
        color: $white;
        text-decoration: none;
    }
    li {
        margin: 20px;
    }

    @media (min-width: 1400px) {
        position: absolute;
        background-color: transparent !important;
    }
    
    background-color: $black;

    .bg-red {
        background-color: $red;
        padding: 0px 0px 0px 5px;
        width: 180px;
    }
}

footer {
    margin-top: 50px;
    a {
        color: $white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    p {
        color: $white;
    }
    background-color: $black;
}
