.game-top-bar {
    background-color: $black;
    color: $white;
    text-align: center;
}

.game-picture-bg {
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.game {
    margin: 0 1.5rem 3rem 1.5rem;
}