.table-black {
    background-color: $black;
    color: $white;
}

.table-gray {
    background-color: $gray;
    color: $black;
}

.table-head {
    font-weight: bold;
    text-transform: uppercase;
}
